extends layout

block content
  h1= title
  p Welcome to #{title}

  if messages.length 
    ul 
      each message in messages 
        p #{message.text}
        p #{message.user}
        p(style="margin-bottom: 10px") #{message.added}